<!doctype html>
<html>
<!--
<head>
    <title>ContactList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='contactlist.js') }}"></script>
</head>
-->
<body>

<table border=1>
    <thead>
    <td>Name</td>
    <td>join></td>
    <!--<td>city</td>-->
    <!--<td>Pincode</td>-->
    </thead>

    <script>
        var counter = 0
        var a = []
    </script>
    {% for row in rows %}
    <tr>
        <script>
            a.push('{{row}}')
        </script>
        <td>{{row}}</td>
        <td>
            <div>
                <input id="{{row}}" type="text">
                <button onclick="create_chat({{row}})">create room</button>
                <button onclick="join_chat({{row}})">join room</button>
                <button onclick="create_video({{row}})">create video room</button>
                <button onclick="join_video({{row}})">join video room</button>
            </div>


        </td>
    </tr>
    {% endfor %}
</table>

<script>
    function create_chat(row) {
        console.log("{{user}}");
        console.log(row.id);
        for (var i = 0; i < a.length; i++) {
            var name = document.getElementById(a[i]).value;
            if (name != "") {
                if (row.id < "{{user}}")
                    window.location = "/wait/" + name + row.id + "{{user}}";
                else
                    window.location = "/wait/" + name + "{{user}}" + row.id;
            }
        }
    }

    function join_chat(row) {
        for (var i = 0; i < a.length; i++) {
            var name = document.getElementById(a[i]).value;
            if (name != "") {
                if (row.id < "{{user}}")
                    window.location = "/wait/" + name + row.id + "{{user}}";
                else
                    window.location = "/wait/" + name + "{{user}}" + row.id;
                // window.location = "/join/" + name;
            }
        }
    }

    function create_video(row) {
        for (var i = 0; i < a.length; i++) {
            var name = document.getElementById(a[i]).value;
            if (name != "") {
                if (row.id < "{{user}}")
                    window.location = "/wait/" + name + row.id + "{{user}}";
                else
                    window.location = "/wait/" + name + "{{user}}" + row.id;
                // window.location = "/wait_video/" + name;
            }
        }
    }

    function join_video(row) {
        for (var i = 0; i < a.length; i++) {
            var name = document.getElementById(a[i]).value;
            if (name != "") {
                if (row.id < "{{user}}")
                    window.location = "/wait/" + name + row.id + "{{user}}";
                else
                    window.location = "/wait/" + name + "{{user}}" + row.id;
                // window.location = "/join_video/" + name;
            }
        }
    }
</script>
<a href="/">Go back to home page</a>

</body>
</html>