<!DOCTYPE html>
<html>
<head>
</head>
<body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<video id="localVideo" autoplay muted style="width:40%;"></video>
<video id="remoteVideo" autoplay style="width:40%;"></video>



<script src="{{ url_for('static', filename='send.js') }}"></script>

<script src="{{ url_for('static', filename='websocket.js') }}"></script>

<script src="{{ url_for('static', filename='waitjoin.js') }}"></script>

</body>
</html>
